@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');
 
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: 'Open Sans', sans-serif;
 }

 .header {
   background-image:url(../img/header-bg.png);
   background-repeat: no-repeat;
   width: 1440px;
   height: 770px;
 }
 
.construct__logo {
   padding-top: 41px;
   text-align: center;
   padding-bottom: 317px;
}

.header-text {
   font-size: 60px;
   line-height: 70px;
   text-align: center;
   color: #fff;
}

.center {
   font-size: 16px;
   color: #fff;
   text-align: center;
}

.scroll {
   padding-top: 221px;
   margin: 0 660px;
}

.scroll a { 
   text-decoration: none;
   color: #fff;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 250px;
}

.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 65px;
}

.nav__links {
   display: flex;
   gap: 30px;
}

.nav__links > a {
   text-decoration: none;
   font-family: 'OpenSans';
   font-size: 12px;
   color: #48555B;
}

.nav__links a > span {
   color: #00A4E5;
}

.story {
   padding-top: 57px;
   padding-bottom: 118px;
}

.story__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.story__title__h2 {
   text-align: center;
   font-size: 18px;
   color: #48555B;
   padding-bottom: 70px;
}

.story__title__h2::after {
   content: '';
   width: 50px;
   height: 2px;
   background-color: #00a4e5;
   display: block;
   margin: 10px auto 0;
}

.story__tiltle__h3 {
   font-size: 20px;
   color: #48555B;
   margin-bottom: 30px;
}

.accent__color {
   color:#00a4e5;
}

.story__text {
   font-size: 13px;
   color: #48555B;
}

.story__right {
   display: flex;
   gap: 20px;
}

.story__item {
   padding: 15px;
   font-size: 24px;
   color: #fff;
   font-weight: bold;
   width: 140px;
   height: 224px;
}



.story__item:nth-child(1) {
   background-image: url(../img/Bitmap1.png);
}
.story__item:nth-child(2) {
   background-image: url(../img/Bitmap3.png);
}
.story__item:nth-child(3) {
   background-image: url(../img/Bitmap2.png);
}

.capabilites {
   padding-bottom: 115px;
}

.inner__capabilites {
   padding-bottom: 78px;
}

.inner__top {
   display: flex;
   justify-content: space-between;
}

.inner__top h2 {
   font-size: 18px;
   color: #48555B;
}

.inner__top p {
   font-size: 11px;
   color: #48555B;
}

.inner__top__btn {
   cursor: pointer;
   background: #00A4E5;
   font-size: 13px;
   color: #FFFFFF;
   width: 150px;
   height: 40px;
   padding: 11px 29px
}

.inner__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.content__item {
   padding: 38px 22px;
   width: 295px;
   height: 330px;
}

.content__item > h4 {
   margin-top: 25px;
   margin-bottom: 13px;
   font-size: 16px;
   color: #48555B;
}

.content__item p {
   font-size: 13px;
   color: #48555B;
}

.build {
   background-image: url(../img/build-bg.png);
   min-height: 498px;
   background-repeat: no-repeat;
}

.build__inner {
   text-align: center;
}

.build__inner h2 {
   margin-top: 120px;
   margin-bottom: 35px;
   font-size: 30px;
   color: #48555B;
}

.build__btn {
   cursor: pointer;
   padding: 11px 26px;
   width: 150px;
   height: 40px;
   font-size: 13px;
   background: #00A4E5;
   color: #fff;
}

.newsletter {
   width: 1440px;
   min-height: 100px;
   padding-top: 30px;
   padding-bottom: 30px;
   background: #171819;
}

.newsletter__form {
   display: flex;
   align-items: center;
   justify-content: center;
}

.newsletter__form > label {
   font-size: 22px;
   color: #fff;
   margin-right: 95px;
}

.emailinput {
   padding: 11px 98px 10px 16px;
   width: 250px;
   height: 40px;
   background: #FFFFFF;
   border: 1px solid #979797;
}

.news__btn {
   padding: 11px 48px;
   width: 150px;
   height: 40px;
   font-size: 13px;
   background: #00A4E5;
   color: #fff;
}